.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}


.about__me{     
    
    width: 80%;
    
    height: 80%;

  transform: rotate(45deg);
  border-bottom-right-radius: 100%;
  border-top-left-radius: 25px;
   
    background: linear-gradient(135deg, rgba(88,220, 232,0) 0%, rgba(88, 220, 232, 0.2) 20%, rgba(44, 199, 231, 0) 40%);
    display: grid;
    opacity: 0;
    place-items: center;
   
}

.about__me-image{
   transform: rotate(-45deg);
    border-radius: 7rem;
    overflow: hidden;
    transition: var(--transition);
    

}



.about__cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.5rem;
}

.about__card{
    
    border: 1px solid var(--color-primary);
    border-radius:1rem;
    padding: 2rem;
    text-align: center;
    
}

.about__icon{
    color: var(--color-primary);
    font-size: 2rem;
    margin: 0.5rem;
}

.about__card h5{
    margin-bottom: 1rem;
}

.about__content p{
    color: var(--color-light);
    margin: 2rem 0 2.6rem;

}


/*=========== MEDIA QUERIES (MEDIUM DEVICES)=============*/

@media screen and (max-width: 1024px){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p{
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width:600px){
    .about__me{
        width:65%;
        margin: 0 auto 3rem;
    }
    .about__cards{
    gap: 0.5rem;    
    
    }
}